/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
}

/*===== Colorous =====*/
:root {
  --first-color: #b11226;
  --first-color-alt: #f47174;
  --second-color: #e55947;
  --second-color-alt: #d2321e;
  --white-color: #fafaff;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #f0f1f3;
}

/*===== Typography =====*/
:root {
  --body-font: 'Lato', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
  }
}

/*===== Border-radius =====*/
:root {
  --br-6: 6px;
}

/*===== Margin =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*=== Scrollbar ===*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--dark-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--first-color-alt);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--first-color);
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
}

.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.section-all:hover {
  color: var(--first-color);
  text-decoration: underline;
}

/*===== LAYOUT =====*/

.bg-grid {
  max-width: 1024px;
  display: grid !important;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}

/*===== NAV =====*/

.nav {
  height: var(--header-height);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__logo {
  font-weight: var(--font-bold);
  color: var(--first-color);
  object-fit: cover;
}

.nav__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__subicons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav__cart {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.nav_toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/

.show {
  right: 0;
}

.active {
  color: var(--first-color);
}
/*===== HOME =====*/

.home {
  background-color: var(--gray-color);
}

.home__container {
  height: calc(1vh- var(--header-height));
}

.home__data {
  padding-top: 2rem;
}

.home__title {
  align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: 0.5rem;
  margin-bottom: 4rem;
}

.home__title span {
  font-size: var(--h1-font-size);
}

.home__img {
  position: relative;
  left: 30%;
  margin-top: 93px;
  width: 260px;
}
/*===== BUTTONS =====*/
.button {
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  border-radius: 6px;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
  border-radius: 0px;
}

/*===== COLLECTION =====*/

.collection__container {
  row-gap: 4rem;
}

.collection__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  border-radius: var(--br-6);
  padding: 0 1.5rem;
  background-color: var(--gray-color);
  transition: 0.3s;
}

.collection__box:hover {
  transform: translateY(-0.5rem);
}

.collection__img {
  width: 100px;
}

.collection__title {
  font-size: var(--h1-font-size);
  line-height: 1.2;
  margin-bottom: var(--mb-2);
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.collection__subtitle {
  font-size: var(--h2-font-size);
  color: var(--dark-color-light);
}

.collection__view {
  font-size: var(--small-font-size);
  colot: var(--dark-color-light);
}

.collection__view:hover {
  color: var(--first-color);
  text-decoration: underline;
}

/*===== FEATURED PRODUCTS =====*/
.featured__container {
  row-gap: 2rem;
}

.featured__product {
  margin: 2rem;
  transition: 0.3s;
}

.featured__product:hover {
  transform: translateY(-0.5rem);
}

.featured__box {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: var(--br-6);
  background-color: var(--gray-color);
}

.featured__new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.3rem 0.75rem;
  font-size: var(--small-font-size);
}

.feature__data {
  text-align: center;
}

.featured__name {
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
}

.featured__price {
  color: var(--dark-color-light);
  font-weight: var(--font-semi);
}
/*===== OFFER =====*/
.offer__bg {
  background: no-repeat center/cover;
  text-align: center;
}

.offer__data {
  padding: 3.5rem 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
}

.offer__title {
  font-size: var(--h1-font-size);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.offer__description {
  margin-bottom: var(--mb-2);
  letter-spacing: 0.2rem;
}
/*===== NEW ARRIVALS =====*/
.new__container {
  row-gap: 2rem;
}

.new__container div {
  margin-top: 2rem;
}

.new__box {
  position: relative;
  border-radius: var(--br-6);
  display: flex;
  justify-content: center;
  background-color: var(--gray-color);
  overflow: hidden;
}

.new__box:hover .new__link {
  bottom: 0;
}

.new__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 89, 71, 0.2);
  transition: 0.3s;
}

/*===== NEWSLETTER =====*/
.newsletter {
  text-align: center;
}

.newsletter__description {
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.newsletter__form {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.newsletter__input {
  outline: none;
  border: none;
  border-radius: var(--br-6);
  background-color: var(--gray-color);
  padding: 0 1rem;
  margin-right: 0.6rem;
}

/*===== SPONSORS =====*/
.sponsors__box {
  display: flex;
  flex-direction: column;
  algin-items: center;
  justify-content: space-between;
}

.sponsors__logo {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.sponsors__logo img {
  widht: 80px;
  filter: opacity(70%);
}

.sponsors__logo img:hover {
  filter: none;
}

/*===== FOOTER =====*/
.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.footer__container {
  row-gap: 1.5rem;
  margin-bottom: var(--mb-4);
}

.footer__title {
  margin-bottom: var(--mb-1);
}

.footer__deal {
  margin-bottom: var(--mb-2);
}

.footer__store {
  width: 100px;
}

.footer__link,
.footer__social {
  color: var(--dark-color-light);
}

.footer__link:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.footer__social {
  font-size: 1.3rem;
  margin-right: var(--mb-1);
}

.footer__copy {
  border-top: 1px solid var(--dark-color-light);
  padding-top: 3rem;
  text-align: center;
  color: var(--dark-color-light);
  font-size: var(--small-font-size);
}

.bx:hover {
  color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 770px) {
  body {
    margin: 0;
  }

  .section-all {
    margin-bottom: var(--mb-4);
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    justify-content: initial;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__cart {
    margin-top: 0.4rem;
  }

  .home__container {
    height: 40vh;
  }
  .home__data {
    align-self: center;
  }
  .home__title {
    line-height: 0.8;
    letter-spacing: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 0;
  }
  .home__img {
    width: 370px;
  }

  .collection__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .collection__box {
    padding: 0.5rem 3rem 0;
  }
  .collection__img {
    width: 130px;
  }

  .featured__container,
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .offer__data {
    padding: 5rem 0;
  }

  .new__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .newsletter__form {
    width: 400px;
    margin: 0 auto;
  }

  .sponsors__box {
    flex-direction: row;
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .footer__container {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .bg-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__data {
    padding-left: 7rem;
  }
  .home__img {
    right: 15%;
  }
}
